<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>List</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<body>



<div class="container">
    <h2>{{ name }}</h2>
    <table class="table table-condensed">

        <tbody>
        <tr>
            <td>#Id</td>
            <td>预约日期</td>
            <td>名字</td>
            <td>性别</td>
            <td>年龄</td>
            <td>手机</td>
            <td>Email</td>
            <td>填写日期</td>
        </tr>
        {% for i in list %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.date | date('Y-m-d') }} {{ i.time }}</td>
            <td>{{ i.name }}</td>
            <td>{% if i.gender %}男{% else %}女{% endif %}</td>
            <td>{{ i.age }}</td>
            <td>{{ i.phone }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.createdAt | date('Y-m-d H:i:s') }}</td>
        </tr>
        {% endfor %}

        </tbody>

    </table>



</div>


</body>
</html>